---
import Base from '../../layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
const { title } = AppConfig;
const { description } = AppConfig;
import Section from '../../components/Section.astro';
---

<Base head={{ title, description }}>
  <Section>
    <slot />
    <br />

    <p class="pb-2 pt-6 text-4xl font-bold">PROJECTS</p>
    <div class="flex justify-center py-4">
      <img src="/project_img.png" alt="Image" class="shadow-lg" style="max-width: 100%; height: auto;" />
    </div>
  <section class="text-sm"> 
    <p class="py-1 text-3xl font-bold">
      <span class="text-6xl">1.</span> <a href="https://www.linkedin.com/posts/anshuman-anshuman-82028b263_exploring-neural-style-transfer-with-impressionism-activity-7216193353074286597--FPg?utm_source=share&utm_medium=member_desktop" target="_blank" class="text-inherit underline hover:text-blue-500">
        Art Generation with Neural Style Transfer Model
    </a> 
    </p>
    <p class="py-2">
    • Developed a Deep Learning Model using NST to generate aesthetically pleasing and contextually significant images in
    the style of various Impressionism movement artists. <br><br>
    • Used experience with convolutional neural networks(CNNs), 19-layer VGG network, pre-trained on the ImageNet
    database, to recognize and apply low-level and high-level features in the style transfer process.<br><br>
    • Deep understanding of Impressionism and its art influence, with enhanced skills in researching and implementing
    advanced deep learning algorithms and art history concepts.
    </p>

    <p class="py-1 text-3xl font-bold">
      <span class="text-6xl">2.</span> <a href="https://https://github.com/ansh0eman/Fractal-Nature-of-Lyrical-Verses" target="_blank" class="text-inherit underline hover:text-blue-500">
       Analysis of Fractal-Nature of Lyrical Verses 
    </a> 
    </p>
    <p class="py-2">
      • Created a model to analyze and visualize the fractal nature of lyrical verses and generate lyrics using advanced NLP
techniques and transformer models <br><br>
• Applied word embeddings (e.g., Word2Vec, Doc2Vec, BERT) and developed/fine-tuned transformer models (e.g.,
GPT-3, Hugging Face Transformers) for lyrics generation, focusing on specific artists. <br><br>
• Successfully visualized complex patterns and structures within lyrical data, highlighting their fractal nature using Python
libraries such as NLTK, Matplotlib, Plotly, and Hugging Face Transformers
    </p>
    <p class="py-2">

    <p class="py-1 text-3xl font-bold">
      <span class="text-6xl">3.</span> <a href="https://github.com/ansh0eman/ImageFX" target="_blank" class="text-inherit underline hover:text-blue-500">
        ImageFX : Image Processing Application
    </a> 
    </p>
    <p class="py-2">
      •Developed an image processing application for various image filters, Added functionality to display histograms for image
      analysis, Integrated image compression techniques to reduce file sizes. <br><br>
      • Utilized Object-oriented programming practices such as inheritance for filters, JavaFX and CSS styling to create an
      attractive GUI for user to process and edit images etc
    </p>
    <p class="py-2">
      <strong>Contact me:</strong> <a href="mailto:anshuwont@gmail.com">anshuwont@gmail.com</a>
    </p>
  </section>
</Section>
</Base>
